language: r
cache: packages
before_cache: Rscript -e 'remotes::install_cran("bookdown")'

script: Rscript -e 'cat("nothing")' # instead of the default R CMD check
after_success:
- Rscript -e "bookdown::render_book('index.Rmd', 'bookdown::gitbook')"

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_PAT  # Set in the settings page of your repository, as a secure variable
  local_dir: _book
  on:
    branch: master
